/****************************************
|Gerald Fletcher              			|
|C06414401                     			|
|Webelevate 3.0                		    |
|Mobile Web Applications   				|
|Mobile Web Applications Assignment 2	|
|Due Date: 2014/4/14           			|
*****************************************/
/*styling for the app*/
body { background:#ff6600;}
h2 {color: #ffffff;}
div {color: #ffffff;}
li {color: #ffffff;}
button {color: #ff6600;}